
@import "../../node_modules/bootstrap-material-design/scss/bootstrap-material-design";
@import "../../node_modules/bootstrap-material-design/scss/variables/colors";


@import "utilities/bg-colors";
@import "utilities/box-shadows";
@import "utilities/line-heights";
@import "utilities/general";
@import "~bootstrap/scss/_list-group.scss";



body {
  overflow-y: scroll;
}


.progress1 {
  display: -ms-flexbox;
  display: grid;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0;
}

.progress-bar1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  background-color: #7e94ff;
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

.logo {
  height: 35px;
  margin-top: 3px;
  margin-right: 20px;
}
.badge-notify {
  background: green;
  position: absolute;
  top: 3px;
  left: -2px;
  color: #FFF;
}

.truncate-ellipsis {
  display: table;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}


.pe-7s-bell:before {
  content: "\e677";
}

.alert-with-icon {
  padding-left: 65px;
}

.alert {
  border: 0;
  border-radius: 0;
  color: #FFFFFF;
  padding: 10px 15px;
  padding-left: 15px;
  font-size: 14px;
}

.alert-info {
  background-color: #63d8f1;
}
.alert-danger {
  background-color: #fc727a;
}

.alert-warning {
  background-color: #ffbc67;
}
.alert-success {
  background-color: #a1e82c;
}
.alert span[data-notify="icon"] {
  font-size: 30px;
  display: block;
  left: 15px;
  top: 50%;
  margin-top: -15px;
  position: absolute;
}

body { height : 100% !important; }

#app div{
  height:100% !important;
}
.token-card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}


.truncate-ellipsis {
  display: table;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

.truncate-ellipsis > * {
  display: table-cell;
  overflow: hidden;
  text-overflow: ellipsis;
}